body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  background-image: url("assets/background.jpg");
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#task-input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 300px;
  margin-left: 520px;
}

li {
  margin-top: 20px;
  margin-left: 512px;
  color: purple;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

button {
  background-color: orange;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  margin-left: 8px;
}

.task-item .task-text {
  flex-grow: 1;
}

#add-task,
.task-item button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

#add-task {
  margin-right: 10px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* 
var list = btn.parentNode;
    
    var taskInput = document.createElement("input");
    
    if (taskInput.value !== "") {
      array[taskIndex] = taskInput.value;
      list.innerHTML = taskInput.innerHTML;
    } */